/aws
/nodejs
awscliv2.zip
.env
services/socket-connection/.serverless
services/socket-connection/node_modules
services/sqs-process/.serverless
services/sqs-process/node_modules
services/ses-email-service/.serverless
services/ses-email-service/node_modules
services/s3-file-upload-pre-signed/.serverless
services/s3-file-upload/.serverless
services/s3-file-upload/node_modules
services/s3-file-upload/package-lock.json
services/socket-connection/package-lock.json
services/ses-email-service/package-lock.json
services/proces-csv/.serverless
services/proces-csv/node_modules
services/proces-csv/package-lock.json
services/html-to-pdf/node_modules
services/html-to-pdf/.serverless
services/html-to-pdf/package-lock.json
services/export-data-into-excel/.serverless
services/cognito-sign-up/.serverless
Milestone-5/ecommerce-api/node_modules