/node_modules
.env
awscliv2.zip
/aws
/dredd-venv
.serverless
UserManagement/test-results
package-lock.json
Milestone-4/UserManagement/node_modules
Milestone-4/UserManagement/services/category-management/node_modules

